[Unit]
Description=Chia full node
After=network.target

[Service]
ExecStart=/home/ernestrc/chia/src/venv/bin/chia_full_node
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
