[Unit]
Description=Logd prometheus exporter for gps-producer
After=gps-producer.service

[Service]
ExecStart=/bin/sh -c 'journalctl --unit gps-producer --output=cat --quiet -f | /usr/local/bin/logd /etc/gps/logd/gps-producer.lua'
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
