[Unit]
Description=Logd prometheus exporter for gps-server
After=gps-server.service

[Service]
ExecStart=/bin/sh -c 'journalctl --unit gps-server --output=cat --quiet -f | /usr/local/bin/logd /etc/gps/logd/gps-server.lua'
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
